[Desktop Entry]
Version=1.0
Type=Application
Name=Start Servers
Exec=gnome-terminal -- bash -c "/home/poseidon/Desktop/startup.sh; exec bash"
Icon=utilities-terminal
Terminal=false
