@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
}

.login-container img {
  height: 14.75rem;
  width: 14.75rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 21.88rem;
}

.login-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.13rem;
  margin-top: 1.88rem;
  width: 100%;
}


.email-container {
  position: relative;
}

.forgot-pass p {
  margin-top: 0.38rem;
  margin-left: 1.63rem;
  text-align: left;
}

.forgot-pass a {
  color: var(--pos-yellow);
  text-decoration: none;
  font-size: 0.75rem;
}

.error-container {
  display: flex;
  flex-direction: row;
  text-align: left;
  gap: 0.31rem;
  margin-left: 0.81rem;
  height: 0;
  opacity: 0;
  /* Start hidden */
  overflow: hidden;
  transition: height 0.15s ease, opacity 0.7s ease;
  /* Add opacity transition */
}

.error-container.show {
  height: 1.19rem;
  opacity: 1;
  /* Fully visible */
  margin-bottom: 0.44rem;
}

.error-icon {
  margin-top: 0.13rem;
}

.input-error {
  position: relative;
  color: var(--pos-yellow);
  font-weight: 600;
  font-size: 0.88rem;
  margin: 0;
}

.login-button a {
  text-decoration: none;
  color: var(--pos-yellow);
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.register-container .exit-icon {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  cursor: pointer;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 25rem;
  max-width: 24.56rem;
  margin-top: 10%;
}

.register-form h1 {
  color: var(--pos-yellow);
  font-size: 1.25rem;
  font-weight: 400;
  text-align: left;
}

.register-form-name {
  display: flex;
  flex-direction: row;
  gap: 0.63rem;
  padding-bottom: 2%;
}

.form-name h1{
  display: flex;
  flex-direction: column;
  padding-left: 5%;
}

.register-form .form-pic {
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form .form-gender-title {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 0.9rem;
  width: 20rem;
  padding-bottom: 5%;
}

.form-title h1, .form-gender h1{
  padding-left: 10%;
  font-size: 1.25rem;
  font-weight: 400%;
} 

.register-form .form-phone {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-self: center;
  text-align: left;
  width: 90%;
  padding-bottom: 5%;
}

.register-form .form-dob {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-self: center;
  text-align: left;
  width: 90%;
  padding-bottom: 5%;
}

.register-form .form-password-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-self: center;
  width: 90%;
}

.register-form .form-password-container h1 {
  margin-top: 2.5%;
  padding: 0;
}

.register-form .form-password {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-self: center;
  text-align: left;
  margin-top: 0;
  gap: 1.4rem;
}

.register-form .form-error {
  margin: 0;
  color: var(--pos-yellow);
}

.register-form .form-button {
  margin: 10%;
}

body {
  overflow-y: auto;
  background-color: var(--pos-inner-yellow);
}

.home .p-event__container {
  max-height: none;
  min-height: 31.25rem;
  gap: 0.44rem;
  width: 87%;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 24.56rem;
  background-color: var(--pos-inner-yellow);
  padding-bottom: 1.25rem;
  min-height: 100vh;
  /* Ensure it covers the full viewport height */
}

.home-header {
  background: var(--top-gradient);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 0.94rem;
  color: var(--pos-white);
  font-size: 0.81rem;
  width: 24.56rem;
  height: 4.69rem;
  padding-top: 0.44rem;
  padding-bottom: 0.44rem;
}

.home-header p {
  margin: 0;
  margin-left: 1.25rem;
  /* 20px / 16 = 1.25rem */
  max-width: 18.75rem;
  /* 300px / 16 = 18.75rem */
  font-size: 1.06rem;
  /* 17px / 16 ≈ 1.06rem */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home-header__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.19rem;
  /* 3px / 16 ≈ 0.19rem */
}

.home-header .p-profilepic--small {
  margin-right: 1.25rem;
  /* 20px / 16 = 1.25rem */
  max-width: 3.13rem;
  /* 50px / 16 ≈ 3.13rem */
  max-height: 3.13rem;
  /* 50px / 16 ≈ 3.13rem */
}

.home-header .role-bubble {
  color: var(--pos-green);
  background-color: #BBF7D0;
  border-radius: 2.5rem;
  /* 40px / 16 = 2.5rem */
  border: var(--pos-green) 1px solid;
  font-size: 0.69rem;
  /* 11px / 16 ≈ 0.69rem */
  padding: 0.25rem 0.5rem;
  /* 4px and 8px respectively */
  margin-right: 1.88rem;
  /* 30px / 16 ≈ 1.88rem */
  font-weight: 600;
}

.home h1 {
  margin-top: 0.69rem;
  margin-bottom: 0.88rem;
  background: var(--top-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 2rem;
}

.event-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  /* Set height to 100% of the viewport height */
  max-width: 24.56rem;
  /* 393px */
  background-color: var(--pos-inner-yellow);
  padding-bottom: 1.25rem;
  /* 20px */
}

.event-page h1 {
  background: var(--top-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.5rem;
  /* 24px */
  text-align: left;
  margin-left: 0;
  margin-bottom: 0.75rem;
  /* 12px */
}

.event-description,
.event-budget {
  text-align: center;
  color: black;
  font-size: 0.88rem;
  /* 14px */
  margin-top: 0;
  margin-bottom: 1.5rem;
  /* 24px */
  max-width: 31.25rem;
  /* 500px */
}

.event-description {
  flex-shrink: 0;
  width: 100%;
  max-width: 20.63rem;
  /* 330px */
  margin: 0 auto;
}

.event-page .p-dropdown__container {
  margin-bottom: 0.94rem;
  /* 15px */
  max-width: 23.75rem;
  /* 380px */
}

.event-page .p-dropdown__container#flight-search {
  gap: 0;
  align-items: normal;
  flex-direction: column;
  min-height: 0;
  opacity: 0;
  /* Start hidden */
  transition: min-height 0.8s ease, opacity 1s ease;
  /* Add opacity transition */
}

.event-page .p-dropdown__container#flight-search.show {
  min-height: 1.88rem;
  /* 30px */
  max-height: 31.25rem;
  /* 500px */
  opacity: 1;
  /* Fully visible */
  margin-bottom: 0.94rem;
  /* 15px */
}

.event-page .event-content {
  text-align: center;
}

.selected-flight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 24.56rem;
  /* 393px */
  background-color: var(--pos-inner-yellow);
  padding-bottom: 1.25rem;
  /* 20px */
}

.finance-info {
  position: relative;
}

.flight-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 24.56rem;
  /* 393px */
  background-color: var(--pos-inner-yellow);
  padding-bottom: 1.25rem;
  /* 20px */
  min-height: 100vh;
}

.flight-page h1 {
  background: var(--top-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.5rem;
  /* 24px */
}

.flight-page .p-event__container {
  margin-top: 1.06rem;
  /* 17px */
  gap: 0.69rem;
  /* 11px */
}

.flight-itinerary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 24.56rem;
  background-color: var(--pos-inner-yellow);
  padding-bottom: 1.25rem;
  color: black;
  min-height: 100vh;
}

.flight-itinerary h1 {
  background: var(--top-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 2rem;
  margin-top: auto;
  margin-bottom: auto;
}

.flight-itinerary-status {
  padding-top: 1.44rem;
  /* 23px */
  margin-right: 4.38rem;
  /* 70px */
}

.flight-itinerary-status h3,
.flight-itinerary-status h2 {
  margin: 0;
  text-align: left;
}

.flight-itinerary-status h3 {
  font-size: 1.44rem;
  /* 23px */
  font-weight: 400;
  line-height: 1;
}

.flight-itinerary-status h2 {
  font-size: 2rem;
  /* 32px */
  font-weight: 600;
  background: var(--top-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.flight-itinerary .p-event__container {
  margin-top: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.94rem;
  width: 21.44rem;
}

.flight-itinerary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 3%;
  padding-bottom: 4%;
}

.flight-hold-button {
  display: flex;
  justify-content: center;
  /* Horizontally center */
  align-items: center;
  /* Vertically center */
  width: 30%;
  padding-top: 5%;
  padding-left: 50%;
}

.finance-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 24.56rem;
  /* 393px */
  background-color: var(--pos-inner-yellow);
  padding-bottom: 1.25rem;
  /* 20px */
}

.finance-dashboard-desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  background-color: var(--pos-inner-yellow);
  height: 100vh;
}

.finance-dashboard p {
  color: black;
}

.finance-dashboard h1 {
  background: var(--top-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.5rem;
  /* 24px */
  margin-top: 0.63rem;
  /* 10px */
  margin-bottom: 0.63rem;
  /* 10px */
  text-align: left;
  margin-left: 0;
}

.finance-dashboard .p-event__container {
  padding-top: 0.81rem;
  /* 13px */
  width: 21.13rem;
  /* 338px */
}

.finance-flight-cont {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  width: 60%;
  max-width: 100%;
  height: 100%;
  max-height: 100vh;
  white-space: nowrap;
  gap: 2%;
  background: var(--top-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 3rem;
}

.finance-flight-cont h3 {
  color: transparent;
}

.hiddenB {
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: 0.375rem;
  height: 1.6875rem;
  width: 6.375rem;
}

.finance-dashboard .flight-container h3 {
  background: var(--top-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* The code sets font-size twice; using the latter value: */
  font-size: 1.25rem;
  /* 20px */
  margin-top: 0.63rem;
  /* 10px */
  margin-bottom: 0.63rem;
  /* 10px */
  text-align: left;
  margin-left: 0;
}

.flight-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.budget-container {
  flex-grow: 1;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: black;
  gap: 0.63rem;
  /* 10px */
  border: 0.0625rem solid var(--pos-yellow);
  /* 1px */
  border-radius: 0.19rem;
  /* 3px */
}

.budget-container h1 {
  margin: 0;
  background: var(--top-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.modal {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--pos-inner-yellow);
  padding: 1.25rem;
  /* 20px */
  border-radius: 0.625rem;
  /* 10px */
  box-shadow: var(--drop-shadow);
  z-index: 1000;
  animation: fadeIn 0.15s ease-in-out;
}

.modal-options {
  cursor: pointer;
  margin: 0.625rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.25rem;
}

.modal-approve,
.modal-deny {
  cursor: pointer;
  padding: 0.625rem 1.25rem;
  border-radius: 0.3125rem;
  margin-bottom: 0;
  margin-top: 0.3125rem;
}

.modal-approve {
  color: var(--pos-green);
  border: 0.0625rem solid var(--pos-green);
}

.modal-deny {
  color: var(--pos-red);
  border: 0.0625rem solid var(--pos-red);
}

.modal .p-flight--finance {
  width: 18.75rem;
}

.modal .p-flight--finance .p-flight__price {
  padding-left: 0;
  margin-right: 0.3125rem;
}

.modal .p-flight--finance .p-flight__info {
  min-width: 9.06rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20.94rem;
  background: var(--pos-grey);
  color: black;
}

.modal-profile {
  min-height: 9.375rem;
  padding-top: 0.9375rem;
}

.modal-profile-title-org {
  line-height: 1.1;
}

.modal-profile-img-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-bottom: 0.3125rem;
}

.modal-profile-img-name h4 {
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 0.3125rem;
  background: var(--top-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.modal-profile-img-name h5 {
  font-size: 1.5rem;
  padding-top: 0.625rem;
  margin: 0;
}

.modal-profile-img-name p {
  font-size: 1.25rem;
  margin: 0;
}

.modal-profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 0.9375rem;
  /* 15px */
  min-width: 11.875rem;
  /* 190px */
  max-width: 13.75rem;
  /* 220px */
  margin-left: 1.25rem;
  /* 20px */
}

.modal#mfa, .modal#forgot-pass {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 60%;
  overflow: hidden;
}

.modal#mfa.expanded {
  width: 20.625rem;
  height: 12.5rem;
  max-height: 30rem;
  border-radius: 4%;
  overflow-y: hidden;
}

.modal#mfa .error-container {
  margin: 1%;
}

.modal#forgot-pass.expanded {
  width: 20rem;
  max-height: 20rem;
  height: 15rem;
  color: black;
  padding-bottom: 2.5rem;
  border-radius: 4%;
}

.modal#forgot-pass.expandSuccess {
  width: 20%; /* Expanded size */
  height: 15%; /* Adjust as needed */
}

.modal#forgot-pass.shrinked {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 60%;
  overflow: hidden;
  padding: 1%;
}

.modal#forgot-pass h4 {
  background: var(--top-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 2rem;
  margin-top: 2%;
  margin-bottom: auto;
  text-align: center;
}

.modal#forgot-pass .forgot-text {
  margin-top: 3%;
  margin-bottom: auto;
  padding: 1%;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  color: black;
}

.modal#forgot-pass .error-container {
  margin: 2%;
  margin-bottom: 2% auto;
  margin-top: 5;
  font-size: 25rem;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.modal#forgot-pass .input-error {
  margin: 0%;
  font-size: 1rem;
}

.modal#forgot-pass .forgot-button {
  margin-top: 2.5%;
  margin-left: 23%;
}

/* Default modal styles */
.modal#forgot-pass {
  width: 20.625rem;
  max-height: 19rem;
  height: 15rem;
  color: black;
  padding-bottom: 2.5rem;
  border-radius: 4%;
}

/* When success message is shown */
.modal#forgot-pass.success-shown {
  width: 20%;
  height: 30%;
  max-height: 30%;
  padding-bottom: 0;
  overflow: hidden;
}

.modal .new-user {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--pos-yellow);
}

.loader {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: inline-block;
  border-top: 0.1875rem solid var(--pos-yellow);
  border-right: 0.1875rem solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.p-event__container .loading-spinner {
  margin-top: 7.5rem;
}

.p-event__container .loader {
  width: 7.5rem;
  height: 7.5rem;
  border-top: 0.25rem solid var(--pos-yellow);
}

.mfa-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.3125rem;
  max-height: 25rem;
}

.mfa-form h5 {
  margin: 0;
  font-size: 0.875rem;
  /* 14px */
  color: var(--pos-yellow);
}

.mfa-form h4 {
  margin: 0;
  font-size: 0.875rem;
  /* 14px */
  font-weight: 400;
  color: black;
}

.mfa-button {
  padding: 0.3125rem;
  /* 5px */
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}

.success-message {
  text-align: center;
  color: #28a745;
}

.profile-content {
  text-align: left;
  min-width: 11.875rem;
  /* 190px */
  max-width: 13.75rem;
  /* 220px */
  line-height: 1.3;
}

.profile-content h5,
.profile-content p {
  margin: 0;
  font-size: 1.0625rem;
  /* 17px */
}

.modal-profile-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.9375rem;
  margin-top: 1.5625rem;
}

.planner-event {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* 1350px */
  background-color: var(--pos-inner-yellow);
  padding-bottom: 1.25rem;
  /* 20px */
  width: 100%;
  /* Allow the container to stretch */
  max-width: 24.56rem;
  /* Ensure it doesn't restrict the inputs */
}

.planner-event input {
  width: 100%;
  /* Keep inputs responsive */
  max-width: none;
  /* Remove the restriction on maximum width */
  box-sizing: border-box;
  /* Include padding and borders in the width */
}

.planner-event h1 {
  background: var(--top-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 2rem;
  /* 32px */
  text-align: center;
  margin-bottom: 0rem;
  /* 0px */
}

.planner-event .event-invite .p-event__container {
  padding-top: 0.9375rem;
  /* 15px */
  padding-bottom: 0.9375rem;
  /* 15px */
  margin-bottom: 1.25rem;
  /* 20px */
  gap: 0.625rem;
  /* 10px */
}

.planner-event .p-event__container {
  padding-top: 0.9375rem;
  /* 15px */
  padding-bottom: 0.9375rem;
  /* 15px */
  margin-bottom: 1.25rem;
  /* 20px */
  gap: 0.625rem;
  /* 10px */
}

.planner-event .event-invite h2 {
  margin: 0.625rem;
  /* 10px */
  background: var(--top-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.event-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--pos-inner-yellow);
  padding-bottom: 1.25rem;
  /* 20px */
  gap: 0.625rem;
  width: 100%;
  /* Allow the container to stretch */
  max-width: 24.56rem;
  /* Ensure it doesn't restrict the inputs */
}

.event-form input {
  width: 100%;
  /* Make them responsive to the container */
  max-width: 20rem;
  /* Set a maximum width, e.g., 320px */
  box-sizing: border-box;
  /* Include padding and borders in the width */
}

.event-form .planner-event-name,
.event-form .planner-event-destination,
.event-form .planner-description,
.event-form .planner-dates,
.event-form .planner-event-picture,
.event-form .planner-event-budget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.event-form h2 {
  background: var(--top-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.25rem;
  text-align: left;
  margin-bottom: 0.3125rem;
  /* 5px */
}

.event-form .planner-dates {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.25rem;
  /* 4px */
}

.event-form .planner-dates h2 {
  text-align: center;
  padding-left: 0%;
}

.event-form .planner-dates input {
  font-size: 1.125rem;
  /* 18px */
}

.x-icon {
  position: absolute;
  right: 0.6875rem;
  /* 11px */
  top: 0.6875rem;
  /* 11px */
  cursor: pointer;
}

.event-edit-button {
  margin-top: 1.25rem;
  /* 20px */
  width: 15rem;
}

.budget-card {
  background: var(--pos-grey);
  border-radius: 0.75rem;
  /* 12px */
  box-shadow: var(--drop-shadow);
  padding: 1.5rem;
  /* 24px */
  padding-bottom: 0.625rem;
  /* 10px */
  max-width: 25rem;
  /* 400px */
  margin: 0 auto;
  font-family: 'Segoe UI', sans-serif;
  color: #1f1f1f;
  border: 0.0625rem solid #e4e4e4;
  /* 1px */
}

.budget-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
  color: #111d4a;
  margin-bottom: 1rem;
  /* 16px */
}

.budget-card-header h3 {
  margin: 0;
  font-size: 1.375rem;
  /* 22px */
  font-weight: bold;
  font-family: var(--font-primary);
  background: var(--top-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.budget-card-row {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0;
  /* 12px 0 */
  font-size: 1rem;
  border-top: 0.0625rem solid var(--pos-dark-grey);
  /* 1px */
}

.budget-card-row:first-of-type {
  border-top: none;
}

.budget-card-label {
  font-weight: 600;
  color: #333;
}

.budget-card-value {
  font-weight: 600;
}

.budget-green {
  color: #2ecc71;
}

.budget-edit-icon {
  cursor: pointer;
  width: 1.25rem;
  /* 20px */
  height: 1.25rem;
  /* 20px */
  fill: #333;
}

.budget-modal {
  max-width: 18.75rem;
  /* 300px */
  width: 90%;
}

.modal-title {
  font-size: 1.5rem;
  /* 24px */
  font-weight: 700;
  color: transparent;
  margin-top: 0;
  font-family: var(--font-primary);
  background: var(--top-gradient);
  background-clip: text;
  -webkit-background-clip: text;
}

.modal-label {
  font-size: 0.9375rem;
  /* 15px */
  color: #555;
  margin: 0.75rem 0 0.375rem;
  /* 12px 0 6px */
  display: block;
}

.modal-input {
  width: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 2.875rem;
  /* 46px */
  height: 1.625rem;
  /* 26px */
  margin-top: 0.375rem;
  /* 6px */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 2.125rem;
  /* 34px */
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.25rem;
  /* 20px */
  width: 1.25rem;
  /* 20px */
  left: 0.1875rem;
  /* 3px */
  bottom: 0.1875rem;
  /* 3px */
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #4c365d;
}

input:checked+.slider:before {
  transform: translateX(1.25rem);
  /* 20px */
}

.modal-options {
  text-align: right;
  margin-top: 1.5rem;
  /* 24px */
}

.threshold-container {
  margin-top: 1rem;
  /* 16px */
}

.flight-search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 24.56rem;
}

.flight-search-form input,
.p-textfield--small {
  box-sizing: border-box;
  /* Include padding and border in the width */
}

.p-event--small-header .p-event__dates {
  display: none;
}

.flight-type {
  color: black;
  margin-bottom: 0.625rem;
  /* 10px */
}

.flight-type-toggle {
  display: inline-flex;
  border: 0.0625rem solid #000;
  border-radius: 62.44rem;
  overflow: hidden;
  background-color: var(--pos-inner-yellow);
  margin: 0.375rem auto;
  /* Center the element horizontally */
  justify-content: center;
  /* Ensure buttons inside are centered */
  margin-bottom: 5%;
}

.flight-btn {
  padding: 0.625rem 1.5rem;
  /* 10px 24px */
  border: none;
  background-color: transparent;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.flight-btn.active {
  background: var(--top-gradient);
  color: #fff;
}

.dp__input {
  border-radius: 0.375rem !important;
  background-color: var(--pos-grey) !important;
  font-family: var(--font-primary) !important;
}

.dp__input::placeholder {
  opacity: 1 !important;
  font-family: var(--font-primary) !important;
  font-weight: 400 !important;
}

@media only screen and (max-width: 56rem) {

  .login-container {
    padding-top: 20%;
  }

  .register-container {

  }

  /* Make home container fluid */
  .home {
    min-width: 100%;
    max-width: 100%;
  }

  .home-header {
    min-width: 100%;
    max-width: 100%;
  }

  .home-header p {
    max-width: 90%;
  }

  .event-page {
    max-width: 100%;
    padding-bottom: 1rem;
    height: 105vh;
  }

  .event-page h1 {
    font-size: 1.25rem;
    /* Slightly smaller font size */
    margin-bottom: 0.5rem;
  }

  .event-description,
  .event-budget {
    font-size: 0.75rem;
    /* Smaller text */
    max-width: 100%;
    margin-bottom: 1rem;
  }

  .event-page .p-dropdown__container {
    width: 100%;
    margin-bottom: 0.75rem;
  }

  .event-page .p-dropdown__container#flight-search.show {
    min-height: 1.5rem;
    max-height: 25rem;
    margin-bottom: 0.75rem;
  }

  .flight-page {
    max-width: 100%;
    padding-bottom: 1rem;
  }

  .flight-itinerary {
    max-width: 100%;
    padding-bottom: 1rem;
    min-height: 100vh;
  }

  .finance-dashboard {
    max-width: 100%;
    padding-bottom: 1rem;
  }

  .planner-event {
    max-width: 100%;
    padding-bottom: 1rem;
  }

  .planner-event input {
    width: 100%;
  }

  .modal#forgot-pass.expandSuccess {
    width: 55%; /* Expanded size */
    height: 16%; /* Adjust as needed */
  }

  .modal#forgot-pass.shrinked {
    margin: 0%;
    width: 5.125rem;
    height: 5.125rem;
    border-radius: 60%;
    overflow: hidden;
    padding: 0%;
  }

  .modal#forgot-pass .loading-spinner{
    padding-top: .75rem;
  }

  .modal#forgot-pass .loader {
    width: 3.5rem;
    height: 3.5rem;
    border-top: 0.25rem solid var(--pos-yellow);
  }
}


/*---------------DESKTOP------------------*/

@media only screen and (min-width: 48rem) {
  .home-desktop {
    background-color: var(--pos-inner-yellow);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    /* Ensure padding and borders are included in height */
  }

  .home-desktop h1 {
    background: var(--top-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2rem;
    /* 32px */
    margin-top: 0.94rem;
    margin-bottom: 0.94rem;
    text-align: left;
    position: relative;
    right: 35%;
    font-weight: 600;
    padding-top: 3%;
  }

  .home-desktop hr {
    color: var(--pos-grey);
    width: 90%;
    margin-top: 1%;
    margin-left: 6%;
  }

  .home-header-desktop {
    background: var(--top-gradient);
    color: var(--pos-white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    gap: 1%;
  }


  .home-header__text-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    gap: 1%;
    line-height: 1;
    width: 100%;
    padding-left: 1%;
  }

  .role-bubble {
    color: var(--pos-green);
    background-color: #BBF7D0;
    border-radius: 2.5rem;
    border: var(--pos-green) 1px solid;
    text-align: center;
    font-size: 0.69rem;
    padding: 0.25rem 0.5rem;
    margin-right: 1.88rem;
    font-weight: 600;
    width: auto;
  }

  .p-event__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 95%;
    overflow: hidden;
    border-radius: 15%;
  }

  .p-event__wrapper::before,
  .p-event__wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5%;
    /* Adjust the width of the fade */
    pointer-events: none;
    /* Ensure it doesn't block interactions */
    z-index: 1;
  }

  .p-event__wrapper::before{
    left: 0;
    background: linear-gradient(to right, var(--pos-inner-yellow), rgba(255, 255, 255, 0));
  }

  .p-event__wrapper::after {
    right: 0;
    background: linear-gradient(to left, var(--pos-inner-yellow), rgba(255, 255, 255, 0));
  }

  .p-event__container-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1%;
    width: 90%;
    max-width: none;

    /* Prevent wrapping of items */
    justify-content: flex-start;
    /* Align items to the start */
  }

  .scroll-wrapper {
    width: 90%;
    margin-left: 3%;
    margin-right: 3%;
    height: 100%;
    white-space: nowrap;
    overflow-x: auto;
  }

  .scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--pos-yellow);
    border: none;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .scroll-button.prev {
    left: 0%;
    z-index: 998;
  }

  .scroll-button.next {
    right: 0%;
    z-index: 998;
  }

  .scroll-button:hover {
    background-color: var(--pos-dark-yellow);
  }

  .event-page-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    background-color: var(--pos-inner-yellow);
  }


  .event-desktop-content {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    width: 50%;
    max-width: 100%;
    height: 100%;
    max-height: 100vh;
    white-space: nowrap;
    /* Prevent wrapping of items */
    justify-content: flex-start;
    /* Align items to the start */
    margin-right: 5%;
    margin-top: 2%;
  }

  .event-desktop-content h2 {
    display: inline-block;
    background: var(--top-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2rem;
    text-align: left;
    margin: 0;
  }

  .event-desktop-content p {
    color: black;
  }

  .event-date-desktop {
    margin-right: 5%;
    min-width: 60%;
  }

  .flight-search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-width: 100%;
    margin: 1rem auto;
  }

  .flight-search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    width: 100%;
    max-width: 600px;
  }

  .flight-search-bar input {
    flex: 1;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
  }

  .flight-search-bar button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: var(--top-gradient);
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .flight-search-bar button:hover {
    background-color: var(--pos-dark-yellow);
  }

  .flight-desktop-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    min-height: 100vh;
    background-color: var(--pos-inner-yellow);
  }

  .flight-desktop-search h1 {
    background: var(--top-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2rem;
    padding: 0%;
  }

  .flight-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    gap: 2%;
    background-color: var(--pos-inner-yellow);
    padding-bottom: 1.25rem;
  }

  .flight-itinerary-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background-color: var(--pos-inner-yellow);
  }

  .itinerary-event-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .itinerary-event-container .p-event--desktop-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 12rem;
  }

  .itinerary-event-container .p-event--desktop-header .p-event__details h4 {
    padding-bottom: 10%;
  }

  .itnry-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 5%;
  }

  .itinerary-title {
    background: var(--top-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2rem;
    text-align: left;
    padding: 1%;
  }

  .p-event__wrapper {
    overflow: unset
  }

  .event-desktop-contentBox {
    /* position:relative; */
    margin-top: 5rem;
    background: var(--gradient-2);
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 90%;
    height: 25rem;
    max-height: 25%;
    justify-content: flex-start;
    /* Align items to the start */
    border-radius: 1.25rem;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
  }

  .event-desktop-contentBox {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .event-desktop-contentBox input {
    all: unset;
    font-size: 3.5rem;
    color: var(--pos-white);
    margin-left: 1rem;
  }

  .event-desktop-contentBox label {
    position:absolute;
    top: 2rem;
    right: 2rem;
  }

  .event-desktop-contentBox__info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: left;
    width: 20%;
    max-width: 20%;
    height: 100%;
    margin: 0 2rem 0 2rem;
  }

  .event-desktop-contentBox__info h2 {
    font-size: 2rem;
    margin: 1rem 0 2rem 0.5rem;
    color: var(--pos-white);
    font-weight: 400;
  }

  .event-desktop-contentBox .event-desktop-contentBox__textField {
    background: rgba(128, 128, 128, 0.4);
    height: 4rem;
    width: 20rem;
    overflow: hidden;
    padding: 1.5rem;
    border-radius: 1.25rem;
    border: 0.0625rem solid var(--pos-grey);
  }

  .event-desktop-container {
    background-color: var(--pos-inner-yellow);
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;
  }

  /* Wrapper for the file input */
  .file-input-wrapper {
    display: flex;
    align-items: center;
  }

  /* Hide the default file input */
  .file-input-wrapper input[type="file"] {
    display: none;
  }

    /* Style the custom label as a button */
  .custom-file-label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.5rem;
    background: var(--top-gradient); /* Use the gradient variable */
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: var(--pos-yellow); /* Ensure text is visible on the gradient */
    text-align: center;
  }

  /* Hover effect */
  .custom-file-label:hover {
    transform: scale(1.05); /* Slightly enlarge */
    opacity: 0.9; /* Slightly dim the gradient on hover */
  }

  /* Active effect */
  .custom-file-label:active {
    transform: scale(0.98); /* Slightly shrink */
    opacity: 0.8; /* Further dim the gradient on click */
  }

  .file-input-wrapper span {
    margin-right: 0.5rem;
  }

  .event-form__desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    background-color: var(--pos-inner-yellow);
    padding-bottom: 1.25rem;
  }

  .event-form__desktop--topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .event-form__desktop h2 {
    all:unset;
    color: var(--pos-dark-grey);
    font-size: 2rem;
  }

  .event-form__desktop--topbar .p-textfield {
    width: 100%;
    height: 1rem;
    border-radius: 0.375rem;
  }

  .planner-description {
    width: 80%;
  }
  .planner-description .p-textfield__textarea-container{
    border-radius: 0.375rem;
  }
  .evTopMargin {
    margin-top: 1rem;
  }

  .p-event--block-planner {
    overflow: hidden;
  }
}