
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container img{
  height: 236px;
  width: 236px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;
  margin-top: 41px;
}

.forgot-pass p {
  margin-top: 6px;
  margin-right: 210px;
  margin-left: 26px; 
}

.forgot-pass a {
  color: var(--pos-yellow);
  text-decoration: none;
  font-size: 12px;
}

.login-button p {
  font-size: 12px;
}

.login-button a {
  text-decoration: none;
  color: var(--pos-yellow);
}

.phone-container {
  position: relative;;
  padding: 10px;
  border: 5px solid #000000;
  max-width: 393px;
}

.home .p-event__container {
  height: 621px;
  gap: 7px;
}

.home { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 393px;
  background-color: #FFFFE2;
  padding-bottom: 20px;
}

.home-header {
  margin-right: 200px;
  margin-top: 10px;
}

.home-header p {
  margin: 0;
  margin-bottom: 5px;
  color: var(--pos-dark-grey);
  font-size: 13px;
}

.home h1 {
  margin-top: 11px;
  margin-bottom: 14px;
  background: var(--top-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 32px;
}

.event-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 393px;
  background-color: var(--pos-outer-yellow);
  padding-bottom: 20px;
}

.event-page h1{
  text-align: left;
  background: var(--top-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 24px;
  margin-left: 27px;
  margin-bottom: 12px;
}

.event-page p{
  text-align: left;
  color: black;
  font-size: 14px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 0px;
  margin-bottom: 24px;
}

.flight-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 393px;
  background-color: var(--pos-outer-yellow);
  padding-bottom: 20px;
}

.flight-page h1 {
  background: var(--top-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 24px;
}

.flight-page .p-event__container {
  margin-top: 17px;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
